# Comparison SQL - Pandas - Spark

In [1]:
import sys
import os
# SPARK_HOME='/usr/local/Cellar/apache-spark/2.4.4'
# os.environ['SPARK_HOME'] = SPARK_HOME
# if SPARK_HOME not in sys.path:
#     sys.path.insert(0, SPARK_HOME)
import findspark
import pyspark
import numpy as np
import pandas as pd
import pyspark.sql.functions as F

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .master('local[2]') \
    .appName("SimpleApp") \
    .getOrCreate()

# Load Data

## Load Spark Data

In [47]:
# for f in map(str.strip, os.popen('ls ../data/*.csv | grep -v 100_').readlines()):
#     nam = os.path.basename(f).split('.')[0]
#     print(f"""
# print("{nam}_pdf [{f}]")
# {nam}_df = spark.read.csv('{f}', inferSchema=True, header=True)
# {nam}_df.registerTempTable('{nam}')
# {nam}_df.printSchema()
#         """)

In [48]:
print("customers_pdf [../data/customers.csv]")
customers_df = spark.read.csv('../data/customers.csv', inferSchema=True, header=True)
customers_df.registerTempTable('customers')
customers_df.printSchema()
        

print("employees_pdf [../data/employees.csv]")
employees_df = spark.read.csv('../data/employees.csv', inferSchema=True, header=True)
employees_df.registerTempTable('employees')
employees_df.printSchema()
        

print("offices_pdf [../data/offices.csv]")
offices_df = spark.read.csv('../data/offices.csv', inferSchema=True, header=True)
offices_df.registerTempTable('offices')
offices_df.printSchema()
        

print("orderdetails_pdf [../data/orderdetails.csv]")
orderdetails_df = spark.read.csv('../data/orderdetails.csv', inferSchema=True, header=True)
orderdetails_df.registerTempTable('orderdetails')
orderdetails_df.printSchema()
        

print("orders_pdf [../data/orders.csv]")
orders_df = spark.read.csv('../data/orders.csv', inferSchema=True, header=True)
orders_df.registerTempTable('orders')
orders_df.printSchema()
        

print("payments_pdf [../data/payments.csv]")
payments_df = spark.read.csv('../data/payments.csv', inferSchema=True, header=True)
payments_df.registerTempTable('payments')
payments_df.printSchema()
        

print("productlines_pdf [../data/productlines.csv]")
productlines_df = spark.read.csv('../data/productlines.csv', inferSchema=True, header=True)
productlines_df.registerTempTable('productlines')
productlines_df.printSchema()
        

print("products_pdf [../data/products.csv]")
products_df = spark.read.csv('../data/products.csv', inferSchema=True, header=True)
products_df.registerTempTable('products')
products_df.printSchema()

customers_pdf [../data/customers.csv]
root
 |-- customerNumber: integer (nullable = true)
 |-- customerName: string (nullable = true)
 |-- contactLastName: string (nullable = true)
 |-- contactFirstName: string (nullable = true)
 |-- phone: string (nullable = true)
 |-- addressLine1: string (nullable = true)
 |-- addressLine2: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- postalCode: string (nullable = true)
 |-- country: string (nullable = true)
 |-- salesRepEmployeeNumber: double (nullable = true)
 |-- creditLimit: double (nullable = true)

employees_pdf [../data/employees.csv]
root
 |-- employeeNumber: integer (nullable = true)
 |-- lastName: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- extension: string (nullable = true)
 |-- email: string (nullable = true)
 |-- officeCode: integer (nullable = true)
 |-- reportsTo: double (nullable = true)
 |-- jobTitle: string (nullable = true)

offices_pdf [../data/offices.csv]
root
 |-- officeCode: integer (nullable = true)
 |-- city: string (nullable = true)
 |-- phone: string (nullable = true)
 |-- addressLine1: string (nullable = true)
 |-- addressLine2: string (nullable = true)
 |-- state: string (nullable = true)
 |-- country: string (nullable = true)
 |-- postalCode: string (nullable = true)
 |-- territory: string (nullable = true)

orderdetails_pdf [../data/orderdetails.csv]
root
 |-- orderNumber: integer (nullable = true)
 |-- productCode: string (nullable = true)
 |-- quantityOrdered: integer (nullable = true)
 |-- priceEach: double (nullable = true)
 |-- orderLineNumber: integer (nullable = true)

orders_pdf [../data/orders.csv]
root
 |-- orderNumber: integer (nullable = true)
 |-- orderDate: string (nullable = true)
 |-- requiredDate: string (nullable = true)
 |-- shippedDate: string (nullable = true)
 |-- status: string (nullable = true)
 |-- comments: string (nullable = true)
 |-- customerNumber: integer (nullable = true)

payments_pdf [../data/payments.csv]
root
 |-- customerNumber: integer (nullable = true)
 |-- checkNumber: string (nullable = true)
 |-- paymentDate: string (nullable = true)
 |-- amount: double (nullable = true)

productlines_pdf [../data/productlines.csv]
root
 |-- productLine: string (nullable = true)
 |-- textDescription: string (nullable = true)
 |-- htmlDescription: string (nullable = true)
 |-- image: string (nullable = true)

products_pdf [../data/products.csv]
root
 |-- productCode: string (nullable = true)
 |-- productName: string (nullable = true)
 |-- productLine: string (nullable = true)
 |-- productScale: string (nullable = true)
 |-- productVendor: string (nullable = true)
 |-- productDescription: string (nullable = true)
 |-- quantityInStock: string (nullable = true)
 |-- buyPrice: string (nullable = true)
 |-- MSRP: string (nullable = true)

## Load Pandas Tables

In [39]:
# for f in map(str.strip, os.popen('ls ../data/*.csv | grep -v 100_').readlines()):
#     nam = os.path.basename(f).split('.')[0]
#     print(f"""
# print("{nam}_pdf [{f}]")
# {nam}_pdf = pd.read_csv('{f}')
# display({nam}_pdf.dtypes)
# print()""")

In [76]:
print("customers_pdf [../data/customers.csv]")
customers_pdf = pd.read_csv('../data/customers.csv')
display(customers_pdf.dtypes)
print()

print("employees_pdf [../data/employees.csv]")
employees_pdf = pd.read_csv('../data/employees.csv')
display(employees_pdf.dtypes)
print()

print("offices_pdf [../data/offices.csv]")
offices_pdf = pd.read_csv('../data/offices.csv')
display(offices_pdf.dtypes)
print()

print("orderdetails_pdf [../data/orderdetails.csv]")
orderdetails_pdf = pd.read_csv('../data/orderdetails.csv')
display(orderdetails_pdf.dtypes)
print()

print("orders_pdf [../data/orders.csv]")
orders_pdf = pd.read_csv('../data/orders.csv')
display(orders_pdf.dtypes)
print()

print("payments_pdf [../data/payments.csv]")
payments_pdf = pd.read_csv('../data/payments.csv')
display(payments_pdf.dtypes)
print()

print("productlines_pdf [../data/productlines.csv]")
productlines_pdf = pd.read_csv('../data/productlines.csv')
display(productlines_pdf.dtypes)
print()

print("products_pdf [../data/products.csv]")
products_pdf = pd.read_csv('../data/products.csv')
display(products_pdf.dtypes)
print()

customers_pdf [../data/customers.csv]

customerNumber              int64
customerName               object
contactLastName            object
contactFirstName           object
phone                      object
addressLine1               object
addressLine2               object
city                       object
state                      object
postalCode                 object
country                    object
salesRepEmployeeNumber    float64
creditLimit               float64
dtype: object

employees_pdf [../data/employees.csv]

employeeNumber      int64
lastName           object
firstName          object
extension          object
email              object
officeCode          int64
reportsTo         float64
jobTitle           object
dtype: object

offices_pdf [../data/offices.csv]

officeCode       int64
city            object
phone           object
addressLine1    object
addressLine2    object
state           object
country         object
postalCode      object
territory       object
dtype: object

orderdetails_pdf [../data/orderdetails.csv]

orderNumber          int64
productCode         object
quantityOrdered      int64
priceEach          float64
orderLineNumber      int64
dtype: object

orders_pdf [../data/orders.csv]

orderNumber        int64
orderDate         object
requiredDate      object
shippedDate       object
status            object
comments          object
customerNumber     int64
dtype: object

payments_pdf [../data/payments.csv]

customerNumber      int64
checkNumber        object
paymentDate        object
amount            float64
dtype: object

productlines_pdf [../data/productlines.csv]

productLine         object
textDescription     object
htmlDescription    float64
image              float64
dtype: object

products_pdf [../data/products.csv]

productCode            object
productName            object
productLine            object
productScale           object
productVendor          object
productDescription     object
quantityInStock         int64
buyPrice              float64
MSRP                  float64
dtype: object

# Pandas map() and apply()

The methods `map()` and `apply()` can be used for row and column operations:

**map(self, arg, na_action=None) -> 'Series'**

Map values of Series according to input correspondence.
    
    Used for substituting each value in a Series with another value,
    that may be derived from a function, a ``dict`` or
    a :class:`Series`.
    
    Parameters
    ----------
    arg : function, collections.abc.Mapping subclass or Series
        Mapping correspondence.
    na_action : {None, 'ignore'}, default None
        If 'ignore', propagate NaN values, without passing them to the
        mapping correspondence.
    
    Returns
    -------
    Series
        Same index as caller.
        

**apply(self, func, convert_dtype=True, args=(), **kwds)**

Invoke function on values of Series.
    
    Can be ufunc (a NumPy function that applies to the entire Series)
    or a Python function that only works on single values.
    
    Parameters
    ----------
    func : function
        Python function or NumPy ufunc to apply.
    convert_dtype : bool, default True
        Try to find better dtype for elementwise function results. If
        False, leave as dtype=object.
    args : tuple
        Positional arguments passed to func after the series value.
    **kwds
        Additional keyword arguments passed to func.
    
    Returns
    -------
    Series or DataFrame
        If func returns a Series object the result will be a DataFrame.

In [85]:
orders_pdf.head()

,orderNumber,orderDate,requiredDate,shippedDate,status,comments,customerNumber
0,10100,2003-01-06,2003-01-13,2003-01-10,Shipped,NaN,363
1,10101,2003-01-09,2003-01-18,2003-01-11,Shipped,Check on availability.,128
2,10102,2003-01-10,2003-01-18,2003-01-14,Shipped,NaN,181
3,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,NaN,121
4,10104,2003-01-31,2003-02-09,2003-02-01,Shipped,NaN,141

## Example: convert columns

In [90]:
import datetime

for col in filter(lambda s: s.endswith('Date'), orders_pdf.columns):
    print(col)
    orders_pdf[col] = orders_pdf[col].map(lambda s: datetime.datetime.strptime(s, '%Y-%m-%d'), na_action='ignore')
    
display(orders_pdf.dtypes)

orderDate
requiredDate
shippedDate

orderNumber                int64
orderDate         datetime64[ns]
requiredDate      datetime64[ns]
shippedDate       datetime64[ns]
status                    object
comments                  object
customerNumber             int64
dtype: object

help(pd.Series.apply)

# Map-Reduce & Group By
![](map-reduce.png)

In [68]:
%%writefile three_by_three.csv
text
Deer Bear River
Car Car River
Deer Car Bear

Overwriting three_by_three.csv

## Python package `functools`

In [52]:
# https://www.geeksforgeeks.org/reduce-in-python/
from functools import reduce

In [69]:
pdf = pd.read_csv('three_by_three.csv')

pdf2 = pd.DataFrame({'word': reduce(lambda a, b: a + b, pdf.text.str.split())})
pdf2['n'] = 1

# display(pdf2)
pdf2.groupby('word').agg({'n': 'sum'})

       n
word
Bear   2
Car    3
Deer   2
River  2

## Spark

In [32]:
df = spark.read.csv('three_by_three.csv', header=True)
df.printSchema()

root
 |-- text: string (nullable = true)

In [40]:
df.select(F.explode(F.split('text', r'\s')).alias('word')) \
    .groupBy('word').agg(F.count('word').alias('n')) \
    .show()

+-----+---+
| word|  n|
+-----+---+
| Bear|  2|
|  Car|  3|
| Deer|  2|
|River|  2|
+-----+---+

## SQL

In [41]:
df.registerTempTable('threebythree')

In [46]:
q = """
SELECT word, count(1) AS n
FROM (
    SELECT explode(split(text, ' ')) AS word
    FROM threebythree
)
GROUP BY word
"""
spark.sql(q).show()

+-----+---+
| word|  n|
+-----+---+
| Bear|  2|
|  Car|  3|
| Deer|  2|
|River|  2|
+-----+---+

# Joining Tables

Query classic and vintage car sales that were sold by US sales reps?
Employees with job title "Sales Rep" who are assigned to an office in the US, and are the sales rep for customers of vintage and classic cars.

## SQL

In [103]:
q = """
WITH us_sales_reps AS (
    SELECT employeeNumber, lastName, firstName, city, postalCode
    FROM employees e
    JOIN offices o
        ON e.officeCode = o.officeCode
    WHERE e.jobTitle = 'Sales Rep' AND o.country = 'USA' 
),
car_orders AS (
    SELECT prod.productCode, prod.buyPrice, prod.MSRP, det.priceEach, det.quantityOrdered, or.customerNumber, or.shippedDate
    FROM orders or
    JOIN orderdetails det
        ON or.orderNumber = det.orderNumber
    JOIN products prod
        ON det.productCode = prod.productCode
    WHERE prod.productLine in ('Classic Cars', 'Vintage Cars') and or.status = 'Shipped'
)
SELECT sr.*, car.*
FROM car_orders car
JOIN customers cst
    ON car.customerNumber = cst.customerNumber
JOIN us_sales_reps sr
    ON cst.salesRepEmployeeNumber = sr.employeeNumber
"""
print(spark.sql(q).count())
# spark.sql(q).limit(10).toPandas()

541

## Pandas

In [115]:
df1 = pd.merge(employees_pdf, offices_pdf, on='officeCode')
df2 = df1[ (df1.jobTitle == 'Sales Rep') & (df1.country == 'USA') ]
us_sales_reps_pdf = df2[['employeeNumber', 'lastName', 'firstName', 'city']]

df3 = pd.merge(
        pd.merge(orders_pdf, orderdetails_pdf, on='orderNumber'),
        products_pdf, on='productCode'
      )
df4 = df3[ df3.productLine.isin(['Classic Cars', 'Vintage Cars']) & (df3.status == 'Shipped') ]
car_orders_pdf = df4[['productCode', 'buyPrice', 'MSRP', 'priceEach', 'quantityOrdered', 'customerNumber', 'shippedDate']]

df5 = pd.merge(
    us_sales_reps_pdf,
    pd.merge(car_orders_pdf, customers_pdf[['customerNumber', 'salesRepEmployeeNumber']], on='customerNumber'),
    left_on='employeeNumber', right_on='salesRepEmployeeNumber'
)
us_car_orders_pdf = df5[['employeeNumber', 'lastName', 'firstName', 'city', 'productCode',
                         'productCode', 'buyPrice', 'MSRP', 'priceEach', 'quantityOrdered', 'customerNumber', 'shippedDate']]
print(us_car_orders_pdf.shape)

(541, 12)

## Spark

In [126]:
us_sales_reps_df = employees_df \
                        .join(offices_df, 'officeCode') \
                        .where("""jobTitle = 'Sales Rep' AND country = 'USA'""") \
                        .select('employeeNumber', 'lastName', 'firstName', 'city')

car_orders_df = orderdetails_df \
                        .join(products_df, 'productCode') \
                        .where("productLine in ('Classic Cars', 'Vintage Cars')") \
                        .join(orders_df, 'orderNumber') \
                        .where("status = 'Shipped'") \
                        .select('productCode', 'buyPrice', 'MSRP', 'priceEach', 'quantityOrdered', 'customerNumber', 'shippedDate')

us_car_orders_df = customers_df.select('customerNumber', 'salesRepEmployeeNumber') \
                        .join(us_sales_reps_df, us_sales_reps_df.employeeNumber == customers_df.salesRepEmployeeNumber) \
                        .join(car_orders_df, 'customerNumber')
print(us_car_orders_df.count())

541