In [3]:
import os
jp = os.path.join
import sys
import datetime
import pandas as pd
import matplotlib.pyplot as plt

In [21]:
DATA_DIR = '../data'

In [22]:
%%sh
ls ../data/

100_BT_Records.csv
100_CC_Records.csv
100_Records.csv
100_Sales_Records.csv
customers.csv
employees.csv
offices.csv
orderdetails.csv
orders.csv
payments.csv
productlines.csv
products.csv

In [16]:
file_list = [
'customers.csv',
'employees.csv',
'offices.csv',
'orderdetails.csv',
'orders.csv',
'payments.csv',
'productlines.csv',
'products.csv' ]

# Loop Example

In [ ]:
for f in sorted(file_list, key=lambda name: len(name)):
    fp = os.path.join(DATA_DIR, f)
    df = pd.read_csv(fp)
    n_rows, n_cols = df.shape
    print(f"Table: {f}\tNumber of rows: {n_rows:,}\tcolumns: {n_cols:,}")

# Map Example

In [26]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [29]:
list(map(lambda f: pd.read_csv(os.path.join(DATA_DIR, f)).shape, file_list))

[(122, 13), (23, 8), (7, 9), (2996, 5), (326, 7), (273, 4), (7, 4), (110, 9)]

In [35]:
def get_shape(fp):
    df = pd.read_csv(os.path.join(DATA_DIR, fp))
    return fp, *df.shape

file_name, num_row, num_col = list(map(get_shape, file_list))[3]

In [36]:
file_name, num_row, num_col

('orderdetails.csv', 2996, 5)

In [37]:
pd.DataFrame(map(get_shape, file_list))

                  0     1   2
0     customers.csv   122  13
1     employees.csv    23   8
2       offices.csv     7   9
3  orderdetails.csv  2996   5
4        orders.csv   326   7
5      payments.csv   273   4
6  productlines.csv     7   4
7      products.csv   110   9

In [32]:
[ pd.read_csv(os.path.join(DATA_DIR, f)).shape for f in file_list ]

[(122, 13), (23, 8), (7, 9), (2996, 5), (326, 7), (273, 4), (7, 4), (110, 9)]

In [11]:
df = pd.read_csv('../data/orders.csv')
df.shape

(326, 7)

In [6]:
df.head()

          Date Description   Deposits Withdrawls    Balance
0  20-Aug-2020        NEFT  23,237.00       00.0  37,243.31
1  20-Aug-2020        NEFT       00.0   3,724.33  33,518.98
2  20-Aug-2020  Commission      245.0       00.0  33,763.98
3  20-Aug-2020        NEFT  12,480.00       00.0  46,243.98
4  20-Aug-2020        RTGS       00.0  11,561.00  34,682.98

In [13]:
df = pd.read_csv('../data/100_CC_Records.csv', encoding='ascii')
df.shape

UnicodeDecodeError: 'ascii' codec can't decode byte 0x92 in position 4527: ordinal not in range(128)